aws_region   = "us-east-1"
aws_profile  = "seu-perfil-aws-cli"
project_name = "churn-prediction"
environment  = "dev"

vpc_cidr = "10.42.0.0/16"
public_subnet_cidrs = [
  "10.42.1.0/24",
  "10.42.2.0/24"
]

container_port = 8000
desired_count  = 1
task_cpu       = 1024
task_memory    = 2048

# Recomendado: usar a URL de output ecr_repository_url + tag da imagem.
container_image = "123456789012.dkr.ecr.us-east-1.amazonaws.com/churn-prediction-dev-api:latest"

jwt_expire_minutes  = 60
models_dir          = "models"
log_level           = "INFO"
rate_limit_requests = 100
rate_limit_window   = 60
health_check_path   = "/ready"
alb_ingress_cidr    = "0.0.0.0/0"

tags = {
  Owner      = "time-mlops"
  CostCenter = "fiap-tech-challenge"
}
